In [ ]:
!pip install datatable

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting datatable
  Downloading datatable-1.0.0-cp37-cp37m-manylinux_2_12_x86_64.whl (96.9 MB)
     |████████████████████████████████| 96.9 MB 100 kB/s
Installing collected packages: datatable
Successfully installed datatable-1.0.0

In [14]:
# function to find the time taken by a function

import time

def timeit(f):

    def timed(*args, **kw):
        ts = time.time()
        result = f(*args, **kw)
        te = time.time()

        print('func:%r args:[%r, %r] took: %2.4f sec' % \
          (f.__name__, args, kw, te-ts))
        return result

    return timed

In [15]:
import pandas as pd

@timeit
def read_data_with_pandas(path):
  pandas_df = pd.read_csv(path)
  return pandas_df 

pandas_df = read_data_with_pandas("/content/drive/MyDrive/datatable/songs.csv")

func:'read_data_with_pandas' args:[('/content/drive/MyDrive/datatable/songs.csv',), {}] took: 11.7101 sec

In [16]:
import datatable as dt 

@timeit
def read_data_with_datatable(path):
  datatable_df = dt.fread(path)
  return datatable_df 

datatable_df = read_data_with_datatable("/content/drive/MyDrive/datatable/songs.csv")

func:'read_data_with_datatable' args:[('/content/drive/MyDrive/datatable/songs.csv',), {}] took: 2.4265 sec

In [26]:
datatable_df.head()

In [20]:
# operations that can be performed by a dataframe

dir(datatable_df)

['__class__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_repr_html_',
 'cbind',
 'colindex',
 'copy',
 'countna',
 'countna1',
 'export_names',
 'head',
 'key',
 'keys',
 'kurt',
 'kurt1',
 'ltypes',
 'materialize',
 'max',
 'max1',
 'mean',
 'mean1',
 'meta',
 'min',
 'min1',
 'mode',
 'mode1',
 'names',
 'ncols',
 'ndims',
 'newsort',
 'nmodal',
 'nmodal1',
 'nrows',
 'nunique',
 'nunique1',
 'rbind',
 'replace',
 'sd',
 'sd1',
 'shape',
 'skew',
 'skew1',
 'sort',
 'source',
 'stype',
 'stypes',
 'sum',
 'sum1',
 'tail',
 'to_arrow',
 'to_csv',
 'to_dict',
 'to_jay',
 'to_list',
 'to_numpy',
 'to_pandas',
 'to_tuples',
 'type',
 'types',
 'view']

In [18]:
# conversion to pandas df
df = datatable_df.to_pandas()
type(df)

pandas.core.frame.DataFrame

In [19]:
# conversion to numpy array
df = datatable_df.to_numpy()
type(df)

numpy.ndarray

In [22]:
@timeit
def sort_operation_with_pandas(column):
  sorted_df = pandas_df.sort_values(by = column)
  return sorted_df

pandas_df_sorted = sort_operation_with_pandas("year")

func:'sort_operation_with_pandas' args:[('year',), {}] took: 0.6338 sec

In [24]:
@timeit
def sort_operation_with_datatable(column):
  sorted_df = datatable_df.sort(column)
  return sorted_df

datatable_df_sorted = sort_operation_with_datatable("year")

func:'sort_operation_with_datatable' args:[('year',), {}] took: 0.0222 sec

In [31]:
@timeit
def mean_value_with_pandas(column):
  mean_df = pandas_df[column].mean()
  return mean_df

pandas_df_mean = mean_value_with_pandas("timbre_avg_1")

func:'mean_value_with_pandas' args:[('timbre_avg_1',), {}] took: 0.0061 sec

In [32]:
@timeit
def mean_value_with_datatable(column):
  mean_df = datatable_df[column].mean()
  return mean_df

datatable_df_mean = mean_value_with_datatable("timbre_avg_1")

func:'mean_value_with_datatable' args:[('timbre_avg_1',), {}] took: 0.0118 sec

In [40]:
# performing statistics operations
datatable_df['timbre_avg_0'].sum()

In [39]:
# unique items in column
datatable_df['year'].nunique()

In [43]:
# standard deviation for a column
datatable_df['timbre_avg_1'].sd()

In [44]:
# max value in column
datatable_df['year'].max()

In [47]:
# min value in column
datatable_df['year'].min()

In [45]:
# most occuring value
datatable_df['year'].mode()

In [61]:
# modal frequency for every column
datatable_df.nmodal()

In [59]:
# mean of column
int(datatable_df['year'].mean().to_numpy()[0])

1998

In [60]:
# Saving to csv files
datatable_df.to_csv("out.csv")